body {
    font-family: sans-serif;
    background-color: rgb(200,200,200);
    padding: 10px;
}

html{
    scroll-behavior: smooth;
}

/*Navbar
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: rgb(135, 131, 181);
    box-shadow: 0 3px 5px rgb(200,200,200);
}

nav h1{
    color: rgb(133, 25, 86); 
}


/*Navbar End*/
header {
    position: sticky;
    top: 0;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-links li {
    margin-left: 1rem;
  }
  
  .navbar-links a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #306ea1;
  }
  
  .content {
    padding-top: 6rem; /* Add desired padding to push content below navbar */
  }




.Languages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.language-header {
    text-align: center;
}

.logo-container-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}



.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.language-logo {
    width: 60px;
    height: 60px;
    background-size: cover;
}

.logo-text{
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}


.language-python {
    background-image: url('/WebsitePortfolio/Images/Logo/Python.png');
}

.language-cpp {
    background-image: url('/WebsitePortfolio/Images/Logo/C++.png');
}

.language-html {
    background-image: url('/WebsitePortfolio/Images/Logo/HTML5.png');
}

.language-css {
    background-image: url('/WebsitePortfolio/Images/Logo/CSS3.png');
}
